// card content の padding を削除
.p-card .p-card-content {
  padding: 0rem;
}

.p-dialog {

  .p-dialog-header {
    padding: 1rem;
    border-bottom: 1px solid;
    border-color: var(--surface-ground);
  }

  .p-dialog-content {
    padding: 1rem;
  }

  .p-dialog-footer {
    padding: 0.5rem;
    border-top: 1px solid;
    border-color: var(--surface-ground);

    button {
      min-width: 3rem;
    }
  }
}
